In [ ]:
import requests
url = 'http://www.imdb.com/chart/top?ref_=nv_mv_250_6'
r = requests.get(url)
r.status_code

In [ ]:
from bs4 import BeautifulSoup
bs = BeautifulSoup(r.text, 'html.parser')

In [105]:
# bs.prettify()

In [51]:
# based on 'inspect' and looking out output from prettify, these are the attr and tag.
# just for the first
a = bs.find(name='td', attrs={'class':'titleColumn'}).text
a

u'\n      1.\n      The Shawshank Redemption\n(1994)\n'

In [57]:
# extracting the index of 250
l = a.split(' ')
l = [i.rstrip('\n') for i in l]
n = ''.join(l).split('.')
int(n[0])

1

In [74]:
# getting all of the paragraphs that match attrs, there are 250
td = bs.find_all(attrs={'class':'titleColumn'})

In [98]:
len(td)
td[0:5]

[<td class="titleColumn">\n      1.\n      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=2239792642&amp;pf_rd_r=1YSZW38872ENXPQ98P9N&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>\n<span class="secondaryInfo">(1994)</span>\n</td>,
 <td class="titleColumn">\n      2.\n      <a href="/title/tt0068646/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=2239792642&amp;pf_rd_r=1YSZW38872ENXPQ98P9N&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_2" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>\n<span class="secondaryInfo">(1972)</span>\n</td>,
 <td class="titleColumn">\n      3.\n      <a href="/title/tt0071562/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=2239792642&amp;pf_rd_r=1YSZW38872ENXPQ98P9N&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_3" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">The Godfather: Part II</a>\n<span class="secondaryInfo">(1974)</span>\n</td>,
 <td class="titleColumn">\n      4.\n      <a href="/title/tt0468569/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=2239792642&amp;pf_rd_r=1YSZW38872ENXPQ98P9N&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_4" title="Christopher Nolan (dir.), Christian Bale, Heath Ledger">The Dark Knight</a>\n<span class="secondaryInfo">(2008)</span>\n</td>,
 <td class="titleColumn">\n      5.\n      <a href="/title/tt0050083/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=2239792642&amp;pf_rd_r=1YSZW38872ENXPQ98P9N&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_5" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">12 Angry Men</a>\n<span class="secondaryInfo">(1957)</span>\n</td>]

In [103]:
# Need to get the href attr value in order to get the unique imdb id for movie 'tt#'
href = td[4].find(name='a')['href']

In [104]:
href.split('/')

[u'',
 u'title',
 u'tt0050083',
 u'?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2239792642&pf_rd_r=1YSZW38872ENXPQ98P9N&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_5']

In [ ]:
# www.imdb.com/title/<imdb_id>
# title <span class="itemprop" itemprop="name">The Godfather</span>
# rating <meta itemprop="contentRating" content="R">
# star <span itemprop="ratingValue">9.2</span>
# duration <time itemprop="duration" datetime="PT175M">175 min</time>
# description <p itemprop="description">The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.</p>

In [108]:
import pandas as pd
movies = pd.read_csv('/home/anna/DAT-DC-10/data/imdb_1000.csv', header=0, na_filter=False)

In [110]:
# dataframe attribute name, get top two
movies.title.head(2)

0    The Shawshank Redemption
1               The Godfather
Name: title, dtype: object

In [111]:
# dataframe attribute name, get top two
movies['title'].head(2)

0    The Shawshank Redemption
1               The Godfather
Name: title, dtype: object

In [113]:
# dataframe attribute name and then row indexing 
movies.title[0:2]

0    The Shawshank Redemption
1               The Godfather
Name: title, dtype: object

In [138]:
# dataframe row indexing
movies[0:3]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [115]:
# dataframe row indexing, get specific attribute title
movies[0:3].title

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
Name: title, dtype: object

In [139]:
# dataframe indexing using INTEGERS, row
movies.iloc[0:2]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [145]:
# Use dataframe indexing with INTEGERS, row and column.
# Note that movies.iloc[0:3][5] DOES NOT WORK!  Only single value for row index orks, but can use range in column
# dataframe[R][C]
movies.iloc[0][0:5]

star_rating                            9.3
title             The Shawshank Redemption
content_rating                           R
genre                                Crime
duration                               142
Name: 0, dtype: object

In [146]:
# dataframe[row range, col range], INTEGER indexing
movies.iloc[0:2,1:5]

                      title content_rating  genre  duration
0  The Shawshank Redemption              R  Crime       142
1             The Godfather              R  Crime       175

In [152]:
# indexing by NAME or INTEGERS
# dataframe.[Row Index range, Col Name or Index range]
movies.loc[18:20,'star_rating':'duration']

    star_rating       title content_rating      genre  duration
18          8.7  Goodfellas              R  Biography       146
19          8.7   Star Wars             PG     Action       121
20          8.7  The Matrix              R     Action       136